<container
    style="background: #cce6ff; padding: 0; margin: 0; height: 100vh; color: black; display: flex; justify-content: center; align-items: center;">
    <container>
        <row style="text-align: center">
            <h1 style="text-align: center">Tourism Blogs</h1>
            <br />
        </row>
        <img src="https://w0.peakpx.com/wallpaper/740/955/HD-wallpaper-tour-across-world-attractions-culture-travel-visit.jpg"
            width="100%" , height="100%" />
        <row style="text-align: center">
            <p style="font-weight: lighter; text-align: center">
                Enter this verification code in the window <br>
                where you began signing up for your Tourism Blogs account.
            </p>
        </row>
        <row style="text-align: center; padding-top: 20px">
            <h1 style="width: max-content; padding: 2% 4%; letter-spacing: 8px; color: white; background: grey; margin:
                20px auto;">
                <%= code %>
            </h1>
            <br />
        </row>
    </container>
</container>