<container style="text-align: center;">
    <row style="text-align: center;">
        <h2> Tourism Blogs </h2>
        <br>
    </row>
    <row style="text-align: center;">
        <h4 display> Enter this verification code in the window 
            where you began signing up for your Tourism Blogs account. </h4>
        <br>
    </row>
    <row style="text-align: center;">
        <H3> <%= code %> </H3>
        <br>
    </row>
</container>