<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about-content">
                <h2>About Us</h2>
                <p>This is website intended for Tourist to share their experience about the places that they've recently visited.</p>
                <p>Create an user account and share your wonderful experience with Tourist's Blogs.</p>
                <p>It is requested to not to use any abusive language in the blogs.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>