/* * {
    border: 1px solid red;
} */

body {
    background-color: rgb(238, 238, 238);
    background-image: url('/images/login_bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    opacity: 0.8;
    padding: 12px;
}

body>div {
    box-sizing: border-box;
    margin: 42px auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 6px;
    background: white;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #444;
}

.nav {
    text-align: center;
    justify-content: center;
    margin-top: 16px;
}

.nav-item {
    width: 50%;
}

#pills-tabContent {
    margin-top: 24px;
    text-align: center;
}

button {
    margin: 12px 0 6px 0;
}

.form-group {
    text-align: left;
}

.nav-link:hover {
    color: rgb(136, 26, 48);
    ;
}

.btn {
    background: rgb(136, 26, 48);
    ;
    color: white;
}

.btn:hover {
    background: rgb(143, 10, 36);
    color: white;
}